{% extends 'basecrud.html' %} {% block content %}

<main>
    <div class="main-color">
        <h1>Estas seguro que deseas borrar este producto?</h1>
        <br>
        <h2>Variedad {{empanada.tipo}}</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            <div>{{form.as_p}}</div>
            <input class="boton" type="submit" value="{{ tipo }}" />
        </form>

        <br>
        <a href="{% url 'empanadas:all' %}">Cancelar</a>
    </div>
</main>
{% endblock %}